<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <httpErrors errorMode="Detailed" existingResponse="PassThrough" />
      <aspNetCore processPath="dotnet"
                  arguments=".\BiDashboard.dll"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="outofprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_DETAILEDERRORS" value="true" />
          <environmentVariable name="ASPNETCORE_PATHBASE" value="/BiDashboard" />
          <environmentVariable name="HDBDOTNETCORE" value="C:\inetpub\wwwcust\BiDashboard" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
